<div class="dashboard-container">
  <div class="dashboard-dashboard">
    <span class="dashboard-text HeadingHeading1">
      <span>Hello, Pratik</span>
    </span>
    <div class="dashboard-sidemenu">
      <div class="dashboard-banner">
        <img
          alt="shadow032"
          src="/assets/playground_assets/shadow032-dmqs-300h.png"
          class="dashboard-shadow"
        />
        <div class="dashboard-mask-group">
          <img
            alt="Ellipse5036"
            src="/assets/playground_assets/ellipse5036-t1hc-200w.png"
            class="dashboard-ellipse5"
          />
        </div>
        <button class="dashboard-addbutton">
          <span class="dashboard-text002 TextTextSemiBold2">
            <span>Upgrade</span>
          </span>
        </button>
        <img
          alt="Vector039"
          src="/assets/playground_assets/vector039-pugq.svg"
          class="dashboard-vector"
        />
        <span class="dashboard-text004 HeadingHeading4">
          <span>
            <span>Upgrade your</span>
            <br />
            <span>Account to Get Free Voucher</span>
          </span>
        </span>
      </div>
      <div class="dashboard-list">
        <div class="dashboard-dashboard1">
          <img
            alt="RestaurantLocation043"
            src="/assets/playground_assets/restaurantlocation043-72h6.svg"
            class="dashboard-restaurant-location"
          />
          <span class="dashboard-text009 TextTextMedium1">
            <span>Dashboard</span>
          </span>
        </div>
        <div class="dashboard-foodorder">
          <img
            alt="DeliveryScooter047"
            src="/assets/playground_assets/deliveryscooter047-xq9.svg"
            class="dashboard-delivery-scooter"
          />
          <span class="dashboard-text011 TextTextMedium1">
            <span>Food Order</span>
          </span>
        </div>
        <div class="dashboard-favorite">
          <img
            alt="Review051"
            src="/assets/playground_assets/review051-yn3i.svg"
            class="dashboard-review"
          />
          <span class="dashboard-text013 TextTextMedium1">
            <span>Favorite</span>
          </span>
        </div>
        <div class="dashboard-message">
          <img
            alt="OrderDiscussion055"
            src="/assets/playground_assets/orderdiscussion055-q36q.svg"
            class="dashboard-order-discussion"
          />
          <span class="dashboard-text015 TextTextMedium1">
            <span>Message</span>
          </span>
        </div>
        <div class="dashboard-orderhistory">
          <img
            alt="SVG24HourFoodDelivery060"
            src="/assets/playground_assets/svg24hourfooddelivery060-5b2d.svg"
            class="dashboard-svg2-hour-food-delivery"
          />
          <span class="dashboard-text017 TextTextMedium1">
            <span>Order History</span>
          </span>
        </div>
        <div class="dashboard-bills">
          <img
            alt="Bill066"
            src="/assets/playground_assets/bill066-z8ff.svg"
            class="dashboard-bill"
          />
          <span class="dashboard-text019 TextTextMedium1">
            <span>Bills</span>
          </span>
        </div>
        <div class="dashboard-setting">
          <img
            alt="Setting070"
            src="/assets/playground_assets/setting070-5tol.svg"
            class="dashboard-setting1"
          />
          <span class="dashboard-text021 TextTextMedium1">
            <span>Setting</span>
          </span>
        </div>
      </div>
      <span class="dashboard-text023">
        <span class="dashboard-text024">GoMeal.</span>
      </span>
    </div>
    <div class="dashboard-search-bar">
      <img
        alt="magnifier075"
        src="/assets/playground_assets/magnifier075-hj1o.svg"
        class="dashboard-magnifier"
      />
      <span class="dashboard-text025 TextTextRegular1">
        <span>What do you want eat today...</span>
      </span>
    </div>
    <div class="dashboard-category">
      <div class="dashboard-items">
        <div class="dashboard-frame01">
          <img
            alt="Baked081"
            src="/assets/playground_assets/baked081-no9k.svg"
            class="dashboard-baked"
          />
          <span class="dashboard-text027 TextTextRegular1">
            <span>Bakery</span>
          </span>
        </div>
        <div class="dashboard-frame02">
          <img
            alt="Burger0100"
            src="/assets/playground_assets/burger0100-nm07.svg"
            class="dashboard-burger"
          />
          <span class="dashboard-text029 TextTextRegular1">
            <span>Burger</span>
          </span>
        </div>
        <div class="dashboard-frame03">
          <img
            alt="Coffee0126"
            src="/assets/playground_assets/coffee0126-f34h.svg"
            class="dashboard-coffee"
          />
          <span class="dashboard-text031 TextTextRegular1">
            <span>Beverage</span>
          </span>
        </div>
        <div class="dashboard-frame04">
          <img
            alt="Chicken0144"
            src="/assets/playground_assets/chicken0144-oqbj.svg"
            class="dashboard-chicken"
          />
          <span class="dashboard-text033 TextTextRegular1">
            <span>Chicken</span>
          </span>
        </div>
        <div class="dashboard-frame05">
          <img
            alt="Fast0161"
            src="/assets/playground_assets/fast0161-d59h.svg"
            class="dashboard-fast"
          />
          <span class="dashboard-text035 TextTextRegular1">
            <span>Pizza</span>
          </span>
        </div>
        <div class="dashboard-frame06">
          <img
            alt="Fish0194"
            src="/assets/playground_assets/fish0194-itni.svg"
            class="dashboard-fish"
          />
          <span class="dashboard-text037 TextTextRegular1">
            <span>Seafood</span>
          </span>
        </div>
      </div>
      <div class="dashboard-title">
        <span class="dashboard-text039 HeadingHeading3">
          <span>Category</span>
        </span>
        <span class="dashboard-text041 TextTextRegular1">
          <span>View all</span>
        </span>
        <img
          alt="chevrondown0211"
          src="/assets/playground_assets/chevrondown0211-j4pm.svg"
          class="dashboard-chevrondown"
        />
      </div>
    </div>
    <div class="dashboard-populardish">
      <div class="dashboard-title1">
        <span class="dashboard-text043 HeadingHeading3">
          <span>Popular Dishes</span>
        </span>
        <span class="dashboard-text045 TextTextRegular1">
          <span>View all</span>
        </span>
        <img
          alt="chevrondown0217"
          src="/assets/playground_assets/chevrondown0217-a6w3.svg"
          class="dashboard-chevrondown1"
        />
      </div>
      <div class="dashboard-items1">
        <div class="dashboard-frame011">
          <img
            alt="border0221"
            src="/assets/playground_assets/border0221-cw29.svg"
            class="dashboard-border"
          />
          <div class="dashboard-image">
            <img
              alt="placeholder0224"
              src="/assets/playground_assets/placeholder0224-2xj-200h.png"
              class="dashboard-placeholder"
            />
            <img
              alt="freshtastyburger20210829045134utc10225"
              src="/assets/playground_assets/freshtastyburger20210829045134utc10225-zao5-200h.png"
              class="dashboard-freshtastyburger20210829045134utc1"
            />
          </div>
          <div class="dashboard-name">
            <span class="dashboard-text047 TextTextMedium1">
              <span>Fish Burger</span>
            </span>
            <span class="dashboard-text049 HeadingHeading3">
              <span class="dashboard-text050">$</span>
              <span>5.59</span>
            </span>
          </div>
          <div class="dashboard-rate">
            <img
              alt="Star10230"
              src="/assets/playground_assets/star10230-vqih.svg"
              class="dashboard-star1"
            />
            <img
              alt="Star20231"
              src="/assets/playground_assets/star20231-6o1.svg"
              class="dashboard-star2"
            />
            <img
              alt="Star30232"
              src="/assets/playground_assets/star30232-77xf.svg"
              class="dashboard-star3"
            />
            <img
              alt="Star40233"
              src="/assets/playground_assets/star40233-gwo.svg"
              class="dashboard-star4"
            />
            <img
              alt="Star50234"
              src="/assets/playground_assets/star50234-ae2f.svg"
              class="dashboard-star5"
            />
          </div>
          <button class="dashboard-button">
            <img
              alt="plus0236"
              src="/assets/playground_assets/plus0236-7867.svg"
              class="dashboard-plus"
            />
          </button>
          <img
            alt="Love0238"
            src="/assets/playground_assets/love0238-38rq.svg"
            class="dashboard-love"
          />
          <div class="dashboard-ribbon">
            <span class="dashboard-text052 TextTextRegular1">
              <span>15% Off</span>
            </span>
          </div>
        </div>
        <div class="dashboard-frame021">
          <img
            alt="border0244"
            src="/assets/playground_assets/border0244-6uzj.svg"
            class="dashboard-border1"
          />
          <div class="dashboard-image1">
            <img
              alt="placeholder0247"
              src="/assets/playground_assets/placeholder0247-y4e-200h.png"
              class="dashboard-placeholder1"
            />
            <img
              alt="tastyburgerwithbacon20210827183201utc10248"
              src="/assets/playground_assets/tastyburgerwithbacon20210827183201utc10248-s3-200h.png"
              class="dashboard-tastyburgerwithbacon20210827183201utc1"
            />
          </div>
          <div class="dashboard-name1">
            <span class="dashboard-text054 TextTextMedium1">
              <span>Beef Burger</span>
            </span>
            <span class="dashboard-text056 HeadingHeading3">
              <span class="dashboard-text057">$</span>
              <span>5.59</span>
            </span>
          </div>
          <div class="dashboard-rate1">
            <img
              alt="Star10253"
              src="/assets/playground_assets/star10253-72bq.svg"
              class="dashboard-star11"
            />
            <img
              alt="Star20254"
              src="/assets/playground_assets/star20254-met.svg"
              class="dashboard-star21"
            />
            <img
              alt="Star30255"
              src="/assets/playground_assets/star30255-bbo.svg"
              class="dashboard-star31"
            />
            <img
              alt="Star40256"
              src="/assets/playground_assets/star40256-kak8.svg"
              class="dashboard-star41"
            />
            <img
              alt="Star50257"
              src="/assets/playground_assets/star50257-1p47.svg"
              class="dashboard-star51"
            />
          </div>
          <button class="dashboard-button1">
            <img
              alt="plus0259"
              src="/assets/playground_assets/plus0259-4vws.svg"
              class="dashboard-plus1"
            />
          </button>
          <img
            alt="Love0261"
            src="/assets/playground_assets/love0261-dfaq.svg"
            class="dashboard-love1"
          />
          <div class="dashboard-ribbon1">
            <span class="dashboard-text059 TextTextRegular1">
              <span>15% Off</span>
            </span>
          </div>
        </div>
        <div class="dashboard-frame031">
          <img
            alt="border0267"
            src="/assets/playground_assets/border0267-wr2m.svg"
            class="dashboard-border2"
          />
          <div class="dashboard-image2">
            <img
              alt="placeholder0270"
              src="/assets/playground_assets/placeholder0270-zy1f-200h.png"
              class="dashboard-placeholder2"
            />
            <img
              alt="burger20210826181828utc10271"
              src="/assets/playground_assets/burger20210826181828utc10271-7qqc-300h.png"
              class="dashboard-burger20210826181828utc1"
            />
          </div>
          <div class="dashboard-name2">
            <span class="dashboard-text061 TextTextMedium1">
              <span>Cheese Burger</span>
            </span>
            <span class="dashboard-text063 HeadingHeading3">
              <span class="dashboard-text064">$</span>
              <span>5.59</span>
            </span>
          </div>
          <div class="dashboard-rate2">
            <img
              alt="Star10276"
              src="/assets/playground_assets/star10276-n8i.svg"
              class="dashboard-star12"
            />
            <img
              alt="Star20277"
              src="/assets/playground_assets/star20277-74rp.svg"
              class="dashboard-star22"
            />
            <img
              alt="Star30278"
              src="/assets/playground_assets/star30278-4w8b.svg"
              class="dashboard-star32"
            />
            <img
              alt="Star40279"
              src="/assets/playground_assets/star40279-6kco.svg"
              class="dashboard-star42"
            />
            <img
              alt="Star50280"
              src="/assets/playground_assets/star50280-h2m.svg"
              class="dashboard-star52"
            />
          </div>
          <button class="dashboard-button2">
            <img
              alt="plus0282"
              src="/assets/playground_assets/plus0282-omoi.svg"
              class="dashboard-plus2"
            />
          </button>
          <img
            alt="Love0284"
            src="/assets/playground_assets/love0284-53m.svg"
            class="dashboard-love2"
          />
          <div class="dashboard-ribbon2">
            <span class="dashboard-text066 TextTextRegular1">
              <span>15% Off</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-recentorder">
      <div class="dashboard-title2">
        <span class="dashboard-text068 HeadingHeading3">
          <span>Recent Order</span>
        </span>
        <span class="dashboard-text070 TextTextRegular1">
          <span>View all</span>
        </span>
        <img
          alt="chevrondown0293"
          src="/assets/playground_assets/chevrondown0293-hb1m.svg"
          class="dashboard-chevrondown2"
        />
      </div>
      <div class="dashboard-items2">
        <div class="dashboard-frame012">
          <img
            alt="border0297"
            src="/assets/playground_assets/border0297-xt1o.svg"
            class="dashboard-border3"
          />
          <div class="dashboard-image3">
            <img
              alt="placeholder0300"
              src="/assets/playground_assets/placeholder0300-l3t-200h.png"
              class="dashboard-placeholder3"
            />
            <img
              alt="pizza20210826170226utc0301"
              src="/assets/playground_assets/pizza20210826170226utc0301-m2hd-300h.png"
              class="dashboard-pizza20210826170226utc"
            />
          </div>
          <div class="dashboard-name3">
            <span class="dashboard-text072 TextTextMedium1">
              <span>Fish Burger</span>
            </span>
            <span class="dashboard-text074 HeadingHeading3">
              <span class="dashboard-text075">$</span>
              <span>5.59</span>
            </span>
          </div>
          <img
            alt="Love0305"
            src="/assets/playground_assets/love0305-0cn9.svg"
            class="dashboard-love3"
          />
          <div class="dashboard-rate3">
            <span class="dashboard-text077 TextRegularTextRegular3">
              <span>4.97 km</span>
            </span>
            <img
              alt="Ellipse290309"
              src="/assets/playground_assets/ellipse290309-bp08-200w.png"
              class="dashboard-ellipse29"
            />
            <span class="dashboard-text079 TextRegularTextRegular3">
              <span>21 min</span>
            </span>
          </div>
        </div>
        <div class="dashboard-frame022">
          <img
            alt="border0312"
            src="/assets/playground_assets/border0312-jha.svg"
            class="dashboard-border4"
          />
          <div class="dashboard-image4">
            <img
              alt="placeholder0315"
              src="/assets/playground_assets/placeholder0315-qlqn-200h.png"
              class="dashboard-placeholder4"
            />
            <img
              alt="ramenasiannoodleinbrothwithmeatandajitama2021102100316"
              src="/assets/playground_assets/ramenasiannoodleinbrothwithmeatandajitama2021102100316-seps-300h.png"
              class="dashboard-ramenasiannoodleinbrothwithmeatandajitama202110210"
            />
          </div>
          <div class="dashboard-name4">
            <span class="dashboard-text081 TextTextMedium1">
              <span>Japan Ramen</span>
            </span>
            <span class="dashboard-text083 HeadingHeading3">
              <span class="dashboard-text084">$</span>
              <span>5.59</span>
            </span>
          </div>
          <img
            alt="Love0320"
            src="/assets/playground_assets/love0320-y4pd.svg"
            class="dashboard-love4"
          />
          <div class="dashboard-rate4">
            <span class="dashboard-text086 TextRegularTextRegular3">
              <span>4.97 km</span>
            </span>
            <img
              alt="Ellipse290324"
              src="/assets/playground_assets/ellipse290324-mwb-200w.png"
              class="dashboard-ellipse291"
            />
            <span class="dashboard-text088 TextRegularTextRegular3">
              <span>21 min</span>
            </span>
          </div>
        </div>
        <div class="dashboard-frame032">
          <img
            alt="border0327"
            src="/assets/playground_assets/border0327-9dq7.svg"
            class="dashboard-border5"
          />
          <div class="dashboard-image5">
            <img
              alt="placeholder0330"
              src="/assets/playground_assets/placeholder0330-2bq-200h.png"
              class="dashboard-placeholder5"
            />
            <img
              alt="plateofasianfood20210826163139utc10331"
              src="/assets/playground_assets/plateofasianfood20210826163139utc10331-411o-300h.png"
              class="dashboard-plateofasianfood20210826163139utc1"
            />
          </div>
          <div class="dashboard-name5">
            <span class="dashboard-text090 TextTextMedium1">
              <span>Fried Rice</span>
            </span>
            <span class="dashboard-text092 HeadingHeading3">
              <span class="dashboard-text093">$</span>
              <span>5.59</span>
            </span>
          </div>
          <img
            alt="Love0335"
            src="/assets/playground_assets/love0335-8wo.svg"
            class="dashboard-love5"
          />
          <div class="dashboard-rate5">
            <span class="dashboard-text095 TextRegularTextRegular3">
              <span>4.97 km</span>
            </span>
            <img
              alt="Ellipse290339"
              src="/assets/playground_assets/ellipse290339-704n-200w.png"
              class="dashboard-ellipse292"
            />
            <span class="dashboard-text097 TextRegularTextRegular3">
              <span>21 min</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="dashboard-banner1">
      <div class="dashboard-mask-group1">
        <img
          alt="background0344"
          src="/assets/playground_assets/background0344-8bo9-300h.png"
          class="dashboard-background"
        />
        <img
          alt="ellipse0345"
          src="/assets/playground_assets/ellipse0345-38oih-300h.png"
          class="dashboard-ellipse"
        />
        <img
          alt="ellipse0346"
          src="/assets/playground_assets/ellipse0346-9zhd-300h.png"
          class="dashboard-ellipse1"
        />
        <img
          alt="ellipse0347"
          src="/assets/playground_assets/ellipse0347-fei-300h.png"
          class="dashboard-ellipse2"
        />
      </div>
      <img
        alt="imageofyoungbrunetteasianwomansmilingandho202108300348"
        src="/assets/playground_assets/imageofyoungbrunetteasianwomansmilingandho202108300348-m05ws-300h.png"
        class="dashboard-imageofyoungbrunetteasianwomansmilingandho20210830"
      />
      <div class="dashboard-text099">
        <span class="dashboard-text100 HeadingHeading2">
          <span>
            <span>Get Discount Voucher</span>
            <br />
            <span>
              Up To 20%
              <span [innerHTML]="rawkttj"></span> 
            </span>
          </span>
        </span>
        <span class="dashboard-text105">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt.
             <span [innerHTML]="raw540a"></span> 
          </span>
        </span>
      </div>
    </div>
    <div class="dashboard-rightmenu">
      <div class="dashboard-menu">
        <img
          alt="placeholder0355"
          src="/assets/playground_assets/placeholder0355-yyfh-200h.png"
          class="dashboard-placeholder6"
        />
        <div class="dashboard-group355">
          <div class="dashboard-notification">
            <img
              alt="notification0359"
              src="/assets/playground_assets/notification0359-uilf.svg"
              class="dashboard-notification1"
            />
            <img
              alt="Ellipse70361"
              src="/assets/playground_assets/ellipse70361-nitj-200h.png"
              class="dashboard-ellipse7"
            />
          </div>
          <div class="dashboard-chat">
            <img
              alt="Ellipse70364"
              src="/assets/playground_assets/ellipse70364-cwwi-200h.png"
              class="dashboard-ellipse71"
            />
            <img
              alt="OrderDiscussion0365"
              src="/assets/playground_assets/orderdiscussion0365-l82e.svg"
              class="dashboard-order-discussion1"
            />
          </div>
          <div class="dashboard-setting2">
            <img
              alt="Setting0370"
              src="/assets/playground_assets/setting0370-nl78.svg"
              class="dashboard-setting3"
            />
          </div>
        </div>
      </div>
      <div class="dashboard-balance">
        <div class="dashboard-card">
          <div class="dashboard-background1">
            <img
              alt="Card0376"
              src="/assets/playground_assets/card0376-rf6s-200h.png"
              class="dashboard-card1"
            />
            <img
              alt="ellipse0377"
              src="/assets/playground_assets/ellipse0377-vps4n-300w.png"
              class="dashboard-ellipse3"
            />
            <img
              alt="ellipse0378"
              src="/assets/playground_assets/ellipse0378-e83-300h.png"
              class="dashboard-ellipse4"
            />
          </div>
          <div class="dashboard-icon">
            <img
              alt="Income0381"
              src="/assets/playground_assets/income0381-oi5k.svg"
              class="dashboard-income"
            />
          </div>
          <div class="dashboard-icon1">
            <img
              alt="Profit0386"
              src="/assets/playground_assets/profit0386-kn8s.svg"
              class="dashboard-profit"
            />
          </div>
          <span class="dashboard-text107 TextTextRegular2">
            <span>Top Up</span>
          </span>
          <span class="dashboard-text109 TextTextRegular2">
            <span>Transfer</span>
          </span>
          <div class="dashboard-balance1">
            <span class="dashboard-text111 TextTextRegular2">
              <span>Balance</span>
            </span>
            <span class="dashboard-text113 HeadingHeading2">
              <span>$12.000</span>
            </span>
          </div>
        </div>
        <span class="dashboard-text115 HeadingHeading3">
          <span>Your Balance</span>
        </span>
      </div>




      <div class="dashboard-ordermenu">
        <div class="dashboard-coupon" >
          <div class="dashboard-icon2">
            <img
              alt="Coupon0399"
              src="/assets/playground_assets/coupon0399-p0le.svg"
              class="dashboard-coupon1"
            />
          </div>
        
          <span class="dashboard-text117 TextTextMedium2">
            <span>Have a coupon code?</span>
          </span>
          <img
            alt="chevrondown0402"
            src="/assets/playground_assets/chevrondown0402-b6h.svg"
            class="dashboard-chevrondown3"
          />
        
          <!-- Add the coupon input and apply button -->
          <div class="coupon-input" >
            <input type="text" placeholder="Enter coupon code" >
            <button (click)="applyCoupon()">Apply</button>
          </div>
        </div>
        
        <div class="dashboard-menu1">
          <span class="dashboard-text119 HeadingHeading3">
            <span>Order Menu</span>
          </span>
          <div class="dashboard-frame013">
            <div class="dashboard-icon3">
              <div class="dashboard-mask-group2">
                <img
                  alt="bg0410"
                  src="/assets/playground_assets/bg0410-0r1c-200h.png"
                  class="dashboard-bg"
                />
                <img
                  alt="pizza20210826170226utc0411"
                  src="/assets/playground_assets/pizza20210826170226utc0411-7lyo-200h.png"
                  class="dashboard-pizza20210826170226utc1"
                />
              </div>
            </div>
            <div class="dashboard-text121">
              <span class="dashboard-text122 TextTextSemiBold1">
                <span>Pepperoni Pizza</span>
              </span>
              <span class="dashboard-text124 TextTextRegular21">
                <span>x1</span>
              </span>
            </div>
            <span class="dashboard-text126 TextTextSemiBold1">
              <span class="dashboard-text127">+</span>
              <span class="dashboard-text128">$</span>
              <span>5.59</span>
            </span>
          </div>
          <div class="dashboard-frame023">
            <div class="dashboard-icon4">
              <div class="dashboard-mask-group3">
                <img
                  alt="bg0420"
                  src="/assets/playground_assets/bg0420-md8i-200h.png"
                  class="dashboard-bg1"
                />
                <img
                  alt="burger20210826181828utc10421"
                  src="/assets/playground_assets/burger20210826181828utc10421-k54b-200h.png"
                  class="dashboard-burger20210826181828utc11"
                />
              </div>
            </div>
            <div class="dashboard-text130">
              <span class="dashboard-text131 TextTextSemiBold1">
                <span>Cheese Burger</span>
              </span>
              <span class="dashboard-text133 TextTextRegular21">
                <span>x1</span>
              </span>
            </div>
            <span class="dashboard-text135 TextTextSemiBold1">
              <span class="dashboard-text136">+</span>
              <span class="dashboard-text137">$</span>
              <span>5.59</span>
            </span>
          </div>
          <div class="dashboard-frame033">
            <div class="dashboard-icon5">
              <div class="dashboard-mask-group4">
                <img
                  alt="bg0430"
                  src="/assets/playground_assets/bg0430-tzvi-200h.png"
                  class="dashboard-bg2"
                />
                <img
                  alt="freshlybakedpizza20210827092624utc0431"
                  src="/assets/playground_assets/freshlybakedpizza20210827092624utc0431-03hh-200h.png"
                  class="dashboard-freshlybakedpizza20210827092624utc"
                />
              </div>
            </div>
            <div class="dashboard-text139">
              <span class="dashboard-text140 TextTextSemiBold1">
                <span>Vegan Pizza</span>
              </span>
              <span class="dashboard-text142 TextTextRegular21">
                <span>x1</span>
              </span>
            </div>
            <span class="dashboard-text144 TextTextSemiBold1">
              <span class="dashboard-text145">+</span>
              <span class="dashboard-text146">$</span>
              <span>5.59</span>
            </span>
          </div>
        </div>
        <button (click)="openOrderSummary()" class="dashboard-checkoutbutton">
          <span class="dashboard-text148 TextMediumTextMedium3">
            <button (click)="openOrderSummary()">Checkout</button>
          </span>
        </button>
        
        <div class="dashboard-total">
          <span class="dashboard-text150 TextMediumTextMedium3">
            <span>Total</span>
          </span>
          <span class="dashboard-text152 TextMediumTextMedium2">
            <span class="dashboard-text153">$</span>
            <span>202.00</span>
          </span>
        </div>
        <div class="dashboard-service">
          <span class="dashboard-text155 TextTextMedium2">
            <span>Service</span>
          </span>
          <span class="dashboard-text157 TextTextMedium1">
            <span class="dashboard-text158">+</span>
            <span class="dashboard-text159">$</span>
            <span>1.00</span>
          </span>
        </div>
        <img
          alt="line0444"
          src="/assets/playground_assets/line0444-j8w.svg"
          class="dashboard-line"
        />
      </div>


      
      <div class="dashboard-address">
        <span class="dashboard-text161 TextTextRegular1">
          <span>Your Address</span>
        </span>
        <div class="dashboard-content">
          <span class="dashboard-text163 HeadingHeading4">
            <span>Elm Street, 23</span>
          </span>
          <img
            alt="Location0449"
            src="/assets/playground_assets/location0449-f6t.svg"
            class="dashboard-location"
          />
        </div>
        <div class="dashboard-button01">
          <span class="dashboard-text165 TextTextRegular2">
            <span>Change</span>
          </span>
        </div>
        <div class="dashboard-button02">
          <span class="dashboard-text167 TextTextRegular2">
            <span>Add Details</span>
          </span>
        </div>
        <div class="dashboard-button03">
          <span class="dashboard-text169 TextTextRegular2">
            <span>Add Note</span>
          </span>
        </div>
        <span class="dashboard-text171">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt.
            <span [innerHTML]="raw5bkn"></span> 
          </span>
        </span>
      </div>
    </div>
  </div>
  <div>
   
</div>

<div class="order-summary-popup" [class.show]="orderSummaryPopupVisible">
  <h3>Order Summary</h3>
  <input type="text" placeholder="Add Details">
  <textarea placeholder="Add Note"></textarea>
  <div class="confirm-button">
    <button (click)="closeOrderSummary()">Confirm</button>
  </div>
</div>
